# Day 2 String Cleaning - from VCI Complete Roadmap

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load the data
df = pd.read_csv('nigeria_messy_sales_dataset.csv')

In [3]:
# ALWAYS start with inspection
print(f"Dataset shape: {df.shape}")
print(f"\nColumn names and types:")
print(df.dtypes)
print("\nFirst few rows:")
print(df.head())
print("\nInfo:")
print(df.info())

Dataset shape: (550, 9)

Column names and types:
Customer Name     object
State             object
Product           object
Units Sold       float64
Unit Price       float64
Total Sale       float64
Sale Date         object
Sales Channel     object
Order ID          object
dtype: object

First few rows:
     Customer Name    State     Product  Units Sold  Unit Price  Total Sale  \
0              NaN   rivers    KEYBOARD         NaN         NaN         NaN
1     Allison Hill    Lagos  Headphones         NaN   267992.94         NaN
2      Noah Rhodes  Anambra    Keyboard         NaN    42364.41         NaN
3  Angie Henderson    Delta    Keyboard         NaN   279444.94         NaN
4    Daniel Wagner    Delta      Tablet         NaN    95899.74         NaN

    Sale Date Sales Channel                              Order ID
0  2025-04-27        Online                                   NaN
1  2024-03-15     Wholesale  4c636e95-025f-4543-8997-623ae0723d96
2  2024-12-10           NaN  edaf3766-1b78-4ede-9a4f-fc0c9165f2ed
3  2024-04-05           NaN  74503887-48d9-4846-95c5-51fcfba57cc8
4  2025-01-12           NaN  8639bd41-8b15-4d94-a42d-0cd7fd359f6a

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Customer Name  507 non-null    object
 1   State          550 non-null    object
 2   Product        550 non-null    object
 3   Units Sold     155 non-null    float64
 4   Unit Price     495 non-null    float64
 5   Total Sale     137 non-null    float64
 6   Sale Date      550 non-null    object
 7   Sales Channel  444 non-null    object
 8   Order ID       510 non-null    object
dtypes: float64(3), object(6)
memory usage: 38.8+ KB
None

# TASK 1: Standardize State Names

## Step 1: Explore the messiness

In [12]:
print(f"Unique states BEFORE cleaning:\n{df['State'].unique()}")
print(f"\nNumber of unique state names BEFORE cleaining:\n{len(df['State'].unique())}")

Unique states BEFORE cleaning:
['rivers' 'Lagos' 'Anambra' 'Delta' 'Oyo' 'Rivers' 'Imo' 'Kano' 'plateau'
 'Niger' 'Abuja' 'Enugu' 'Bauchi' 'Katsina' 'lagos' 'Ekiti' 'Plateau'
 'Kaduna' 'Sokoto' 'kano' 'Benue' 'Osun' 'imo' 'Borno' 'enugu' 'anambra'
 'katsina' 'delta' 'Cross River' 'oyo' 'osun' 'kaduna' 'niger' 'borno'
 'abuja' 'bauchi' 'cross river' 'ekiti' 'sokoto' 'benue']

Number of unique state names BEFORE cleaining:
40

## Step 2: Create standardization plan

Everything should be in title case due to the data being state names (proper nouns).

## Step 3: Implement cleaning

In [15]:
# Clean the data, make all state names
df['State'] = df['State'].str.title()

# Verify the data
print(f"Unique state names AFTER cleaning:\n{df['State'].unique()}")
print(f"\nNumber of unique state names AFTER cleaning:\n{len(df['State'].unique())}")

Unique state names AFTER cleaning:
['Rivers' 'Lagos' 'Anambra' 'Delta' 'Oyo' 'Imo' 'Kano' 'Plateau' 'Niger'
 'Abuja' 'Enugu' 'Bauchi' 'Katsina' 'Ekiti' 'Kaduna' 'Sokoto' 'Benue'
 'Osun' 'Borno' 'Cross River']

Number of unique state names AFTER cleaning:
20

# TASK 2: Clean Product Names

## Step 1: Explore

In [16]:
print(f"Unique product names BEFORE cleaning:\n{df['Product'].unique()}")
print(f"\nNumber of unique product names BEFORE cleaning:\n{len(df['Product'].unique())}")

Unique product names BEFORE cleaning:
['KEYBOARD' 'Headphones' 'Keyboard' 'Tablet' 'Camera' 'CAMERA' 'Laptop'
 'Charger' 'CHARGER' 'Monitor' 'LAPTOP' 'Phone' 'MONITOR' 'PHONE' 'TABLET'
 'HEADPHONES']

Number of unique product names BEFORE cleaning:
16

## Step 2: Create standardization plan
I'm thinking just change everything to title case. There's no need for all capitalization and titlecase just reads nicer.

## Step 3: Implement cleaning

In [18]:
# Clean the product data
df['Product'] = df['Product'].str.title()

# Verify cleaning
print(f"Unique product names AFTER cleaning:\n{df['Product'].unique()}")
print(f"\nNumber of unique product names after cleaning:\n{len(df['Product'].unique())}")

Unique product names AFTER cleaning:
['Keyboard' 'Headphones' 'Tablet' 'Camera' 'Laptop' 'Charger' 'Monitor'
 'Phone']

Number of unique product names after cleaning:
8

# TASK 3: Standardize Sales Channels

## Task 1: Explore data

In [38]:
print(f"Sales channels values BEFORE:\n{df['Sales Channel'].unique()}")
print(f"\nUnique count:\n{df['Sales Channel'].nunique()}")
print(f"\nValue counts:\n{df['Sales Channel'].value_counts()}")
print(f"\nNull value count:\n{df['Sales Channel'].isnull().sum()} ({(df['Sales Channel'].isnull().sum()/len(df) * 100):.2f})%")

Sales channels values BEFORE:
['Online' 'Wholesale' nan 'Direct' 'Retail']

Unique count:
4

Value counts:
Sales Channel
Direct       124
Wholesale    111
Retail       108
Online       101
Name: count, dtype: int64

Null value count:
106 (19.27)%

## Step 2: Think about it
Dropping 19% of data is a lot, and probably a bad business decision. So for now we will leave the values as NaN. Possibly later down the road we can do a weighted analysis of which orders come from which channels and add assumed values then, but not now.

## Step 3: Implement cleaning
We are leaving the null data as NaN for now, and the rest of the data is already standardized in titlecase, so I would say our work here is done.

# TASK 4: Handle Missing Customer Names

## Step 1: Explore the problem

In [45]:
print("Missing customer names:")
print(f"Missing count: {df['Customer Name'].isnull().sum()} ({df['Customer Name'].isnull().sum() / len(df) *100:.2f})%")

Missing customer names:
Missing count: 43 (7.82)%

## Step 2: Look at some samples

In [52]:
print("\nSample of rows with missing Customer Names:")
print(df[df['Customer Name'].isna()][['Customer Name', 'State', 'Product', 'Total Sale', 'Order ID']].head())

Sample of rows with missing Customer Names:
   Customer Name    State     Product Sales Channel  Total Sale  \
0            NaN   Rivers    Keyboard        Online         NaN
13           NaN     Kano      Camera           NaN         NaN
26           NaN  Anambra     Monitor        Retail         NaN
39           NaN     Osun      Tablet        Online         NaN
52           NaN     Osun  Headphones     Wholesale         NaN

                                Order ID
0                                    NaN
13  6d7df5d0-d3b5-4af7-a7ce-378fe5a4983b
26  b0b6dedf-4f9c-4027-8514-4d98b41c504f
39  d42a895e-0fcf-401f-9cb9-b73a906d5c8c
52  6c776e95-0b98-4ccd-92b2-102d940c3503

## Step 3: Think about it

## Step 4: Investigate the Correlation

In [57]:
# Check: Do rows with missing Customer Name also have missing Total Sale?
missing_customer = df['Customer Name'].isna()

print("Rows with missing Customer Name:")
print(f"Total: {missing_customer.sum()}")
print(f"\nOf those, how many ALSO have missing Total Sale?")
print(f"Count: {df[missing_customer]['Total Sale'].isna().sum()}")
print(f"Percentage: {df[missing_customer]['Total Sale'].isna().sum()/missing_customer.sum() * 100 :.2f}")

print("\n" + "="*50)
print("Let's look at the the missing customer rows in detail:")
print("="*50)
missing_customer_df = df[missing_customer][['Customer Name', 'State', 'Product', 'Units Sold', 'Unit Price', 'Total Sale', 'Sales Channel', 'Order ID']]
print(missing_customer_df)

print("\n" + "="*50)
print("Summary of missing values in rows with no Customer Name:")
print("="*50)
print(missing_customer_df.isna().sum())

Rows with missing Customer Name:
Total: 43

Of those, how many ALSO have missing Total Sale?
Count: 36
Percentage: 83.72

==================================================
Let's look at the the missing customer rows in detail:
==================================================
    Customer Name        State     Product  Units Sold  Unit Price  \
0             NaN       Rivers    Keyboard         NaN         NaN
13            NaN         Kano      Camera         NaN   169095.82
26            NaN      Anambra     Monitor         NaN   196849.50
39            NaN         Osun      Tablet         NaN   171984.80
52            NaN         Osun  Headphones         NaN   218356.93
65            NaN         Osun     Monitor         NaN   260362.49
78            NaN        Benue       Phone         NaN   207226.85
91            NaN      Plateau      Laptop         NaN   103867.84
104           NaN      Plateau     Monitor         1.0   168824.40
117           NaN       Kaduna       Phone        77.0   204517.00
130           NaN          Imo     Monitor         NaN         NaN
143           NaN       Rivers     Charger         NaN    11383.78
156           NaN  Cross River     Monitor         NaN   136577.55
169           NaN          Imo     Charger         NaN     4718.22
182           NaN        Borno     Charger         NaN    29067.84
195           NaN          Imo  Headphones        65.0   108185.85
208           NaN        Delta    Keyboard         NaN   110579.40
221           NaN       Rivers       Phone         NaN   247768.25
234           NaN        Delta     Monitor         NaN    61045.96
247           NaN          Imo       Phone         NaN   124919.66
260           NaN        Abuja      Camera        49.0         NaN
273           NaN        Borno      Laptop         NaN   112651.05
286           NaN       Kaduna      Laptop         NaN   118221.06
299           NaN      Plateau    Keyboard         NaN    46958.85
312           NaN        Delta    Keyboard         NaN   178386.27
325           NaN         Kano    Keyboard         NaN    70631.37
338           NaN          Imo      Tablet         NaN   167237.08
351           NaN          Oyo    Keyboard         NaN   209044.37
364           NaN        Niger       Phone        35.0   125244.11
377           NaN       Rivers      Camera        14.0   181688.35
390           NaN         Osun     Charger         NaN         NaN
403           NaN       Kaduna     Monitor         NaN   140142.01
416           NaN        Delta      Laptop         NaN    14191.78
429           NaN      Anambra  Headphones         NaN   165417.44
442           NaN       Rivers      Tablet         NaN   164190.63
455           NaN        Abuja    Keyboard         8.0   189395.14
468           NaN        Borno      Tablet        83.0   123695.88
481           NaN      Katsina      Tablet         NaN   157553.43
494           NaN        Ekiti      Tablet         NaN   248504.59
507           NaN        Delta      Laptop         NaN   193649.72
520           NaN      Plateau       Phone         NaN         NaN
533           NaN        Ekiti      Laptop         NaN   278698.04
546           NaN      Katsina      Tablet         NaN   223764.24

      Total Sale Sales Channel                              Order ID
0            NaN        Online                                   NaN
13           NaN           NaN  6d7df5d0-d3b5-4af7-a7ce-378fe5a4983b
26           NaN        Retail  b0b6dedf-4f9c-4027-8514-4d98b41c504f
39           NaN        Online  d42a895e-0fcf-401f-9cb9-b73a906d5c8c
52           NaN     Wholesale  6c776e95-0b98-4ccd-92b2-102d940c3503
65           NaN        Retail  fe2b34d8-2db0-428d-9e5e-be5459077299
78           NaN        Retail  980cb95c-19d4-4deb-9139-fa1234c1c3ea
91           NaN        Retail  8e85140d-0f9a-4b70-8670-7cd64ceda164
104    168824.40        Direct  87ad8b26-8eaa-4841-aaa0-426df7c0d5f7
117  15747809.00        Direct  bdd151b0-f64a-46ec-b0a5-648eefe9b3d0
130          NaN        Retail  bdc2b74b-38a5-4b49-9d34-aa1890019ed4
143          NaN     Wholesale  fd85d7fa-8ac9-4b01-a3ad-64d4eab9eb02
156          NaN           NaN  892621df-4655-48b7-b8e1-9f568787ea21
169          NaN        Direct  081c79d4-c274-47eb-a65f-7b8adbb44021
182          NaN        Retail                                   NaN
195   7032080.25        Direct  9879cf35-f471-4986-9d26-4599c4dd8df5
208          NaN        Online  71da35b9-4eea-4db8-b165-d77901547950
221          NaN           NaN  44b64ec1-4d16-4049-84d7-df9a238b05b7
234          NaN        Direct  9a6c0db9-5217-4c88-8ce9-53a722d90db3
247          NaN           NaN  d4cee27c-4a94-4e9f-8c35-1e4f703e957f
260          NaN           NaN  1bffa279-15c1-404f-aa16-3354a35fc9c1
273          NaN           NaN  7b96e2d1-0649-4cf6-bf69-723d584fc85b
286          NaN        Direct  8d49fe3f-2ca8-4783-8418-2d353e711433
299          NaN     Wholesale  abb316a7-4329-4780-9d2c-272175220646
312          NaN           NaN  7c966b55-2f8d-4ded-ac4c-450b623ad0fc
325          NaN     Wholesale  38749f3c-c2d4-4b56-8bbe-d98007e67cb0
338          NaN           NaN  4347dbca-7321-48b2-8840-405affd2f491
351          NaN     Wholesale  83b0b35c-dba6-4df8-b3d0-4ffb44709848
364   4383543.85        Direct                                   NaN
377   2543636.90        Retail  0bc2ea72-0c64-4ca2-8323-1466aebbb90e
390          NaN        Retail  6de21429-3bf0-49c1-8156-e501b30e96e8
403          NaN        Online  ad58db1b-fe31-437a-a43e-558c2215df00
416          NaN     Wholesale  48f091f0-9b8b-48ae-b89f-3a92999a1d86
429          NaN           NaN  8bde005b-5d8b-4bd7-abbd-b66f91816091
442          NaN        Direct  53a5e850-8950-4dd6-a7c6-cbb1cedd069d
455   1515161.12        Retail  425e0259-b884-46d2-928f-cf68c871d7b3
468  10266758.04           NaN  00a85473-8242-4912-bda3-c1623a78b64a
481          NaN        Direct  66a302d6-f43e-4c48-8bc1-f9e5fb3df063
494          NaN           NaN  b186a5a8-d6ee-426b-a2cd-159058af393c
507          NaN        Online  64f434d6-d1e9-4691-a320-9116222df6a4
520          NaN           NaN  769de1e3-4eed-4124-b3b0-d6763527a5c8
533          NaN     Wholesale  1f178f93-23c9-4a1e-8b37-1d97cdcc2d6a
546          NaN     Wholesale                                   NaN

==================================================
Summary of missing values in rows with no Customer Name:
==================================================
Customer Name    43
State             0
Product           0
Units Sold       35
Unit Price        5
Total Sale       36
Sales Channel    12
Order ID          4
dtype: int64

## Step 5: Final Decision - Drop incomplete records

In [62]:
# Drop rows where both Customer Name and Total Sale is missing

# Create filter for rows to drop
incomplete_records = df['Customer Name'].isna() & df['Total Sale'].isna()

print(f"Records to drop: {incomplete_records.sum()}")
print(f"Records to keep: {(~incomplete_records).sum()}")

# Drop them
df_clean = df[~incomplete_records].copy()

# Verify
print(f"\nOriginal dataset: {len(df)} rows")
print(f"Cleaned dataset: {len(df_clean)} rows")
print(f"Rows removed: {len(df) - len(df_clean)} rows")
print(f"Percentage removed: {(len(df)-len(df_clean))/len(df) * 100:.2f}%")

Records to drop: 36
Records to keep: 514

Original dataset: 550 rows
Cleaned dataset: 514 rows
Rows removed: 36 rows
Percentage removed: 6.55%

# DAY 2 STRING CLEANING - FINAL SUMMARY
## Nigerian Sales Dataset

---

## CLEANING SUMMARY

### 1. STATE STANDARDIZATION
- **Before:** 40 unique values (case inconsistency)
- **After:** 20 unique values (Title Case)
- **Improvement:** 50% reduction in duplicates

### 2. PRODUCT STANDARDIZATION
- **Before:** 16 unique values (case inconsistency)
- **After:** 8 unique values (Title Case)
- **Improvement:** 50% reduction in duplicates

### 3. SALES CHANNEL
- **Status:** Already standardized (Title Case)
- **Missing:** 106 values (19.3%) - kept as NaN
- **Decision:** Leave missing for now, investigate source

### 4. INCOMPLETE RECORDS REMOVAL
- **Records analyzed:** 43 missing Customer Names
- **Correlation found:** 83% also missing Total Sale
- **Action:** Removed 36 incomplete records (6.55%)
- **Rationale:** Sales without amounts not useful for analysis

---

## FINAL RESULTS

**FINAL DATASET:** 514 rows (from 550 original)

---

## DATA QUALITY IMPROVEMENTS

✅ Standardized geographic data (States)  
✅ Standardized product categories  
✅ Removed incomplete transactions  
✅ Preserved data integrity (93.45% retention)

---

## KEY LEARNINGS

- Always inspect before cleaning  
- Case standardization eliminates artificial duplicates  
- Missing data requires investigation, not assumption  
- Correlation analysis reveals data quality patterns  
- Business context drives cleaning decisions

---

## SESSION STATS

- **Time invested:** ~45 minutes
- **Columns cleaned:** 4 (State, Product, Sales Channel, Customer Name)
- **Data quality improvement:** Significant
- **Skills practiced:** String methods, missing value analysis, decision-making